MONGODB_URI=mongodb+srv://tribhuvaneraj_db_user:R7aNL8oB4YaB7zu2@cluster0.s8iqewk.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=mongodb+srv://tribhuvaneraj_db_user:R7aNL8oB4YaB7zu2@cluster0.s8iqewk.mongodb.net/?appName=Cluster0
JWT_SECRET=oNnTOGXAgxxWOkYWAVJUgL2PJuerCWbkgRjXhtbe2Ku3upqtn3GSuRxnH4FApSeZB9anDOC9bgf9jlVRTEPsz2
